h1{
    text-align: center;
    font-size: 20px;
}
.back{
    font-style: italic;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}
.photo_papka{
    font-size: 70%;
}
.photo_papka1{
    font-size: 130%;
}
.photo{
    display: block;
    margin: auto;
}
.photo_online{
    font-size: 169%;
}
.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
img{
    width: auto;
    height: auto;
    max-width: 300px;
}
.item{
    display: flex;
    flex-direction: column;
    width: max-content;
    margin: 0 auto;
    align-items: center;
}

@media (min-width: 992px) {
    .col-lg-4 {
        width: 33.33%;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .col-md-6 {
        width: 50%;
    }
    .col-md-12 {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .col-mn-12 {
        width: 100%;
    }
}
