a:link {
    text-decoration: none;
    color:green;
}
a:visited {
    color: pink;
}
h1 {
    text-align: center;
    font-size: 24px;
}
p {
    font-size: 120%;
}
.row {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

@media (min-width: 992px) {
    .col-lg-3 {
        width: 25%;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    .col-md-6 {
        width: 50%;
    }
}
@media (max-width: 767px) {
    .col-mn-12 {
        width: 100%;
    }
}